@font-face {
    font-family: "Norse-Bold";
    src: url('Norse Bold.otf') format("otf");
}
html {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f3f6f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.left {
    font-family: "Norse";
}

.leftBackground {
    background-image: url(./GreenLeaf.jpg);
}

.logoBar {
    background-color: black;
    opacity: 0.5;
}

h1 {
    color: white;
}


.textcontainer {
    height: 20vh;
    padding: 10px;
}

fieldset {
    background-color: #ffffff;
    height: 30vh;
    margin: 0;
    border-style:none;
    box-shadow: 0px 2px lightgrey;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    outline: none;
}

input:invalid {
    border-color: red;
}

input:valid {
    border-color: green;
}

input:focus {
    border-color: blue;
    box-shadow: 1px 1px 1px 1px lightslategrey;
}

.footer {
    height: 20vh;
}

button {
    margin: 16px;
    background-color: #596D48;
    border-style: none;
    color: white;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
    padding: 10px 20px;
}

a {
    text-decoration: none;
    color: green;
}